In [8]:
import pandas as pd

In [2]:
l = [1,2,3,4,5]
var = pd.DataFrame(l)
print(l)

[1, 2, 3, 4, 5]

In [12]:
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5],"d":[1,2,3,4,5],1:[1,2,3,4,5]}
var1 = pd.DataFrame(d,columns=["a",1],index=["a","b","c","d","e"])
var1

   a  1
a  1  1
b  2  2
c  3  3
d  4  4
e  5  5

In [24]:
d = {"a":[1,2,3,4,5],"s":[1,2,3,4,5],"d":[1,2,3,4,5],1:[1,2,3,4,5]}
var1 = pd.DataFrame(d)
print(var1)
print("value is",var1["a"][3])

   a  s  d  1
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3
3  4  4  4  4
4  5  5  5  5
value is 4

In [22]:
list = [[1,2,3,4],[1,2,3,4]]
var2=pd.DataFrame(list)
print(var2)

   0  1  2  3
0  1  2  3  4
1  1  2  3  4

In [26]:
sr = {"s":pd.Series([1,2,3,4]),"r":pd.Series([1,2,3,4])}
vAR3 = pd.DataFrame(sr)
print(vAR3)

   s  r
0  1  1
1  2  2
2  3  3
3  4  4