In [8]:
import pandas as pd 
x = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
y = pd.DataFrame({"A":[1,2,3,4], "C":[21,22,23,24]})
pd.merge(x,y,on="A")

   A   B   C
0  1  11  21
1  2  12  22
2  3  13  23
3  4  14  24